<section class="row">
  <section class="col-xs-12">

    <h2>{{ email.subject }}</h2>

  </section>
</section>

<hr>

<section class="row">
  <section class="col-xs-12">

    <p>
      <strong>From:</strong> {{ email.from }}
    </p>

    <p>
      <strong>To:</strong> {{ email.to }}
    </p>

  </section>
</section>

<hr>

<section class="row">
  <section class="col-xs-12">

    <p>
      {{ email.body }}
    </p>

  </section>
</section>

<hr>

<section class="row">
  <section class="col-xs-12">
    <form>

      <div class="form-group">
        <label for="to">To</label>
        <input class="form-control" type="text" ng-model="reply.to">
      </div>

      <div class="form-group">
        <label for="subject">Subject</label>
        <input class="form-control" type="text" ng-model="reply.subject">
      </div>

      <div class="form-group">
        <textarea class="form-control" ng-model="reply.body"></textarea>
      </div>

      <div class="form-group">
        <input class="btn btn-success btn-block" type="submit" value="Send">
      </div>

    </form>
  </section>
</section>
