<section class="row">

  <section class="col-md-3">

    <h4><a class="btn btn-primary btn-block" href="">Compose</a></h4>

    <h4><a class="btn btn-primary btn-block" ui-sref="jmail.inbox">Inbox</a></h4>

    <h4><a class="btn btn-primary btn-block" href="">Sent</a></h4>

    <h4><a class="btn btn-primary btn-block" href="">Trash</a></h4>

  </section>

  <section class="col-md-9">

    <table class="table table-striped">

      <thead>
        <tr>
          <th>From</th>
          <th>Subject</th>
          <th>Time</th>
        </tr>
      </thead>

      <tbody>
        <tr mail-directive ng-repeat="email in emails" email="email" ng-click="openEmail(email)" class="email"></tr>
      </tbody>

    </table>

  </section>

</section>
