.navbar.navbar-default {
  background-color: #002db3;
}

.navbar.navbar-default {
  background-color: #002db3;
}

div.navbar-header > a.navbar-brand, .navbar-text, #sign_in, #sign_out {
  color: #99ccff;
}

.navbar-default .navbar-text {
  color: #99ccff;
}

div.navbar-header > a.navbar-brand:hover, #sign_in:hover, #sign_out:hover {
  color: #99ccff;
}

div.navbar-header > a.navbar-brand:visited, #sign_in:visited, #sign_out:visited {
  color: #99ccff;
}

.email {
  cursor: pointer;
}
